.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;

  &__salary {
    color: var(--secondary-color);
  }
  &__salaryNumber {
    color: var(--secondary-color);
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
    text-align: start;
    margin-bottom: 55px;

    &__salary {
      color: var(--text-color);
    }
    &__salaryNumber {
      color: var(--text-color);
      background-color: var(--secondary-color);
      font-weight: 700;
      font-size: 18px;
      line-height: 148%;
      padding: 5px;
      border-radius: 3px;
    }
  }
}
