.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: -1000px;
  column-gap: 0;
  // overflow: hidden;
  grid-template-areas:
    'header'
    'description'
    'form'
    'info';
}

.header {
  grid-area: header;
}
.description {
  grid-area: description;
}
.form {
  grid-area: form;
  justify-self: center;
  overflow-x: hidden;
}
.info {
  grid-area: info;
}

.wrapTech {
  position: absolute;
  bottom: -8px;
  left: 1025px;
}

@media screen and (min-width: 768px) {
  .techWrap {
    display: block;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 20px;

    grid-template-areas:
      'header header'
      'description form'
      'info form ';
  }
  .form {
    justify-self: end;
  }
}
