@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --text-color: #ffffff;
  --primary-color: #ff3459;
  --secondary-color: #4252d1;
  --background-form: #303a53;
  --background: #272d3d;
  --background-secondary: #302e5a;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  background: rgb(39, 40, 59);
  background: linear-gradient(180deg, rgba(39, 40, 59, 1) 50%, rgba(48, 45, 91, 1) 100%);

  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  z-index: 100;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #edf2f7;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}
